/*esto es un comentario css/*
/*
esto es otro multilinea
 y sigo aca
/*
/*
reglas en css
esta es un regla de estilo
la manera de aplicar a todas las etiquetas o a un grupo de html es por selectores
selector{
    propiedad:valor; 
    propiedad:valor;
    propiedad:valor;
    propiedad:valor 
}
    tipos de selectores
    universal: *{
                 propiedad:valor;}
                 al selector universal modifica todas las etiquetas que estan dentro del html que tienen linkeado en css
                 en el selector universal se suelen resetear valores, el tipo de fuente en la mayoria de etiqueras 
                 los espaciados en todas las etiquetas

etiqueta: etiqueta{propiedad:valor;}
                el selector de etiqueta modifica todas las etiquetas que tengan el nombre de la etiqueta que se puso en el selector

clase: .nombreDeLaClase{propiedad:valor;}
                el selector de clase me permite darle estilosd a un grupo de etiquetas y no necesariamente ese grupo de etiquetas son del mismo tipo de etiquetas

id: #nombreId{propiedad:valor}
    el selector de id me permite darle estilos a una sola etiqueta y esa etiqueta tiene que tener el id que se puso en el selector

    que es la cascada:
        como se aplican las propiedades de css siempre y cuando tengamos el mismo nivel de especificidad
        ejemplo:tengamos una etiqueta html que tiene dos clases que hacen lo mismo 



*/
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

/* Estilos generales */

body {
    background-image: linear-gradient(to right top, #b19cd9, #b19cd9, #a7c7e7, #b0e0e6, #f8d7c1, #ffd1a3, #e2c8f7, #f5e0d0, #a3d8e4);
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #000000; /* Color de texto oscuro */
    margin: 0;
    width: 100%;
    padding: 0;
    margin-top: -25px;
    overflow-x: hidden;
}

/* Estilos del header */
header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.586);
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: 100%;
    background-color: #60575757;
    z-index: 1002;
    position: fixed;
    flex-wrap: wrap;
}

.principalIndex {
    position: absolute; /* Absoluto para cubrir toda la sección */
    background-image: url(../assets/img/runner-7876675_1920.jpg); /* Imagen de fondo */
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    flex-wrap: wrap;
    h1{
        text-align: center;
        margin-top: 7%;
    }
    h2{
        text-align: center;
    }
}
.contenedorTextoPrincipalIndex{
    margin: 0 auto;
    left: 100%;
    text-align: left;
    font-size: 80px;
    color: #050f11;
    padding: 10px;
    z-index: 1002;
    
    
        p{
            font-size: 1.5rem;
        }
        a{
            display: inline-block;
            margin-top: 40px;
            text-decoration:none;
            color: #000000;
            font-size: 1.5rem;
            border: 2px solid rgb(0, 0, 0);
            padding: 8px;
            box-shadow: -11px 1px 37px 13px rgb(110,152,191,0.75);
    -webkit-box-shadow: -11px 1px 37px 13px rgba(110,152,191,0.75);
    -moz-box-shadow: -11px 1px 37px 13px rgba(110,152,191,0.75);
        }
    }
    .contenedorTextoPrincipalIndex a:hover{
        background-color: #25b1a0;
    }
    nav ul {
        list-style: none;
        display: flex;
        align-items:flex-end;
        padding: 20px;
        align-items: center;
    }
    
    nav ul li {
        margin: 0 5px;
    }
    
    nav ul li a {
        color: #000000;
        text-decoration: none;
        transition: color 0.3s, transform 0.3s;
    }
    
    nav ul li a:hover {
        color: #00fff2;
        transform: scale(1.1);
    }
    nav ul li a lord-icon {
        vertical-align: middle; /* Asegura que el ícono esté alineado al centro verticalmente */
    }

/* Estilos principales */
main {
    padding: 20px;
    max-width: 800px;
    padding-top: 120px;
    width: 100%;
    border: none;
    box-shadow: none;
    margin: 0 auto; /* Centrar el main */
}
h1{
    color: #000000;
    font-size: 3em;
    text-align: right;
    padding-top: 0;
}

h2{
    color: #000000;
    text-align: center;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.8em;
    margin-top: 20px;
}

p {
    line-height: 1.6;
    margin: 10px 0;
    font-size: 1.3em;
}
.productosDestacados {
    margin-top: 107%;
    flex-wrap: wrap; 
}

.galeriaDestacados {
    display: flex; 
    justify-content: space-between; /* Asegura que haya espacio entre los elementos */
    gap: 20px; /* Establece un espacio de 20px entre las tarjetas */
    flex-wrap: wrap; /* Permite que los elementos se acomoden en varias filas si es necesario */
}

.tarjetaDestacados {
    border: 2px solid black;
    padding: 20px;
    box-shadow: -10px 0px 35px 12px rgba(0, 0, 0, 0.375);
    border-radius: 10px;
    width: calc(25% - 15px); /* Ajusta el tamaño de las tarjetas para que quepan 4 por fila */
    box-sizing: border-box;
    text-align: center; /* Centra el contenido dentro de cada tarjeta */
}

.tarjetaDestacados img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
    max-width: 200px; /* Limita el tamaño de la imagen */
    margin-bottom: 10px; /* Agrega un pequeño espacio debajo de la imagen */
}

.tarjetaDestacados h3 h4 {
    margin: 5px 0; /* Agrega margen entre el título y el precio */
}

.tarjetaDestacados a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tarjetaDestacados a:hover {
    background-color: #f87c00; /* Color de fondo cuando se pasa el mouse */
    color: #fff; /* Cambia el color del texto cuando se pasa el mouse */
}
.contenedorSectionDos{
    align-items:center;
    text-align: center;
    img{
        width: 100%;
    }
}
.marcasqueVenden {
    text-align: center; /* Centra el texto y el contenido dentro de la sección */
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid #010101;
    font-size: auto;
    color: #050f11;
    padding: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.boton {
    display: inline-block; /* Asegura que el enlace sea tratable como un bloque */
    margin-top: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
    border: 2px solid rgb(0, 0, 0);
    padding: 8px;
    border-radius: 2px;
    box-shadow: -11px 1px 37px 13px rgba(110, 152, 191, 0.75);
    -webkit-box-shadow: 0px 4px 10px 4px rgba(210, 139, 62, 0.75);
    -moz-box-shadow: -11px 1px 37px 13px rgba(110, 152, 191, 0.75);
}

.boton:hover {
    background-color: #FFD700; /* Hover color */
}
.todasMarcas {
    display: flex;
    background-color: #5f5554;
    width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho de la pantalla */
    justify-content: space-evenly; /* Espacio uniforme entre las marcas */
    padding: 1%; /* Espaciado alrededor del contenedor */
    box-sizing: border-box; /* Incluye padding en el tamaño total */
}

.todasMarcas div {
    flex: 0 0 calc(40% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto; /* Evita que las imágenes se compriman */
    justify-content: space-evenly;
    height: 120px;
    box-sizing: border-box; 
}

.todasMarcas img {
    width: 120px; /* Tamaño de las imágenes */
    height: auto; /* Mantener la proporción de la imagen */
    object-fit: contain; /* Asegura que la imagen se ajuste sin distorsionarse */
}
/*opinion de los clientes*/
.nuestrosClientes {
    text-align: center;
}

.galeriaClientes {
    padding: 10px;
    margin: 0 auto;
    width: 90%;
    display: flex;
    gap: 10px; /* Espacio adicional entre las tarjetas */
    flex-wrap: wrap; /* Para que las tarjetas se ajusten en múltiples filas si es necesario */
}

.tarjetaClientes {
    width: 300px; /* Ajusta el ancho de las tarjetas, el -20px es para restar el espacio entre ellas */
    border: 2px solid #040303; /* Puedes agregar un borde si lo deseas */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #9ea5db;
    text-align: center;
}

.tarjetaClientes img {
    margin: 0 auto;
    width: auto; /* Ajusta el tamaño de la imagen */
    height: 100px;
    display: flex;
    object-fit: cover; /* Para que las imágenes se ajusten correctamente */
    border-radius: 10px;
}
/* Estilos de la galería */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Crea un grid con columnas ajustables */
    gap: 20px; /* Espacio entre las imágenes */
    padding: 20px;
}

.gallery a {
    display: block;
    overflow: hidden;
    border-radius: 0;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery a:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.gallery img {
    width: 100%; /* Asegura que la imagen ocupe todo el espacio disponible en su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block;
    border-radius: 10px; /* Bordes redondeados en las imágenes */
    object-fit: cover; /* Mantiene la relación de aspecto de la imagen sin distorsionarla */
}
/* Estilos del formulario de suscripción */
/* Estilos para el contenedor del formulario */
.subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0; /* Elimina el espacio superior y lo acerca al borde del footer */
    flex-wrap: wrap;
}

/* Estilo para el título del formulario */
.subscribe-title {
    font-size: 0.8em;
    color: #000000;
    margin-bottom: 5px; /* Ajusta el espacio entre el título y el campo de entrada */
    flex-wrap: wrap;
}

/* Estilo para el input de correo electrónico */
.subscribe-container input[type="email"] {
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    outline: none;
    width: 250px;
    flex-wrap: wrap;
}

/* Estilo para el botón de suscripción */
.subscribe-container button {
    padding: 8px 16px;
    border: none;
    background-color: #f87c00;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
    width: 250px;
    flex-wrap: wrap;
}

/* Cambio de color cuando el botón es hover */
.subscribe-container button:hover {
    background-color: #000000;
}

footer {
    background-color: #60575781;
    color: #000000;
    padding: 20px 0 0 0; /* Sólo padding en la parte inferior */
    text-align: center;
    margin-top: 0;
    width: 100%;
}

footer .porQueElegirnos {
    background: linear-gradient(to right, #2a2a2a, #4c4c4c); /* Degradado oscuro */
    margin-top: -20px;
    color: #ffffff;
    padding: 1px;
}

footer .porQueElegirnos h2 {
    color: #e4c40e; /* Amarillo brillante para el título */
    text-align: center;
    margin-bottom: 10px;
}

footer .porQueElegirnos ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
}

footer .porQueElegirnos li {
    font-size: 1.2rem;
    color: #00bfff; 
    margin-top: auto;
    margin: 0;
    transition: color 0.3s ease;
}

footer .porQueElegirnos li:hover {
    color: #ff1493; 
}

footer a:hover {
    color: #641aed;
}
footer h4 {
    font-size: 18px; 
}

footer input {
    font-size: 14px;
}
footer h2{
    text-align:right;
}
.fa-twitter, .fa-facebook{
    font-size:3em ;
}

.fa-twitter{
    color: #00aaff;
}
.fa-facebook{
    color: #0073ff;
}


/* Barra flotante de WhatsApp */
.whatsapp-bar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0bcf35;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    z-index: 1002;
}

.whatsapp-bar a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.whatsapp-bar:hover {
    background-color: #128C7E;
}

/* Barra flotante de Instagram */
.instagram-bar {
    position: fixed;
    bottom: 20px;
    right: 90px;
    background-image: linear-gradient(to right top, #ffd200, #ffb600, #ff9800, #ff790a, #ff5820, #ff4238, #ff294c, #ff0060, #ff0080, #ff00a6, #fb00d1, #dd00ff);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    z-index: 1002;
}

.instagram-bar a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.instagram-bar:hover {
    background-color: #C13584;
}

/* Estilos para el iframe */
iframe {
    border: none;
    margin: 20px 0;
    width: 100%;
    height: 200px;
}

/* Estilos para el contenedor del logo */
.logo-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
}

.logo-container h1 {
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
}

/* Media queries para móviles */
/* Media queries para móviles */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        margin-top: 0;
    }

    header {
        padding: 10px;
        flex-direction: column;
        text-align: center;
        background-color: #60575757; /* Fondo semitransparente en mobile */
        backdrop-filter: blur(15px); /* Efecto de desenfoque */
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Borde opcional */
    }
    header nav ul li a {
        color: rgb(255, 255, 255); /* Color blanco para los enlaces en el nav */
    }
    header .logo-container h2 {
        color: white; /* Color blanco para el texto y enlaces */
    }

    .principalIndex {
        h1 {
            font-size: 1.5em;
            margin-top: 29%;
        }
        h2 {
            font-size: 1.2em;
        }
    }

    .contenedorTextoPrincipalIndex {
        font-size: 1.5em;
        border: 3px solid rgba(0, 0, 0, 0.5); /* Borde semitransparente */
        border-radius: 15px; /* Bordes redondeados */
        backdrop-filter: blur(20px); /* Efecto de desenfoque */
        padding: 10px;
    }
    
    .contenedorTextoPrincipalIndex p {
        font-size: 1em;
    }
    
    .contenedorTextoPrincipalIndex a {
        font-size: 1em;
        padding: 6px;
    }

    .productosDestacados {
        margin-top: 700px;
        width: calc(50% - 10px); /* Mostrar 2 tarjetas por fila */
        }
    

    .galeriaDestacados {
        flex-direction: column;
        align-items: center;
    }

    .tarjetaDestacados {
        width: 100%; /* Ocupa toda la anchura en móviles */
        margin-bottom: 15px;
    }

    .galeriaClientes {
        flex-direction: column;
        align-items: center;
    }

    .subscribe-container input[type="email"], 
    .subscribe-container button {
        width: 100%; /* Ocupa el ancho completo en móviles */
        max-width: 300px; /* Limita el ancho máximo */
    }
    
    .todasMarcas {
        flex-direction: column;
        padding: 5%;
    }

    .gallery {
        gap: 10px;
    }
    .logo-container{
        left: 160px;
    }
    .titulo-galeria {
        color: #000000; /* Cambia el color a tu gusto */
        margin-top: 15%;
    }
    
    /* Cambiar el color solo de Imágenes Ilustrativas */
    .titulo-imagenes {
        color: #000000; /* Cambia el color a tu gusto */
    }
    .form-contacto {
        max-width: 600px;
        padding: 20px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin-top: 800px; /* Ajusta el valor según lo que necesites */
    }
    .mainContacto {
        margin-top:0; /* Ajusta el valor según lo que necesites */
        h2{
            margin-top:16%;
        }
    }
    .mainCarrito{
        margin-top: 0;
        h2{
            margin-top: 13%;
        }
    }
    .mainProductos{
        margin-top: 0;
        h2, a, p {
            margin-top: 32%;
        }
    }
}


/*subscripcion newslestter */
.subscribe-container {
    display:block;
    flex-direction: column;
    align-items: right; /* Centra los elementos horizontalmente */
    margin-top: 20px;
}

/* Estilos para el título del formulario de suscripción */
.subscribe-title {
    font-size: 0.8em; /* Tamaño de la fuente */
    color: #050f11; /* Color del texto */
    margin-bottom: 10px; /* Espacio entre el título y el campo de correo */
    text-align: center;

}

/* Estilos para el formulario */
.subscribe-container form {
    display: flex;
    flex-direction: column; /* Coloca elementos en columna */
    align-items: center; /* Centra el contenido */

}

/* Estilos para el campo de correo electrónico */
.subscribe-container input[type="email"] {
    padding: 8px;
    margin-bottom: 10px; /* Espacio entre el campo de correo y el botón */
    border: none;
    border-radius: 3px;
    outline: none;
    width: 250px; /* Limita el ancho del campo de correo */
  
}

/* Estilos para el botón */
.subscribe-container button {
    padding: 8px 16px;
    border: none;
    background-color: #e57b09;
    color: #fff9f9;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
    width: 250px;

}

.subscribe-container button:hover {
    background-color: #000000;

}
